# Dependencies
node_modules/
.agents/
tests/

# Environment variables
.env
.env-main

# Log files
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

#datauser
src/data/
!src/data/.gitkeep

scratch/

data/

note.txt

CONFIG_GUIDE.md