# Dependencies
node_modules/
.agents/
tests/

# Environment variables
.env

# Log files
*.log

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

#datauser
src/data/
!src/data/.gitkeep

scratch/
